/* Sets default for main page */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Sets the gradient on header and centers text*/
header {
    background: linear-gradient(to right, #3498db, #8e44ad);
    text-align: center;
    padding: 30px 0;
}

/* Styles h1 text on heading */
h1.heading {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/* makes the main content of the page a flexbox*/
main {
    display: flex;
    padding: 15px;
    background-color: #fff;
}

/* Sizes the left side bar that holds the search info*/
.sidebar {
    width: 30%;
    
    padding: 20px;
}

/* Sizes second heading tag */
h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 0;
}

/* Sizes third heading tag */
h3 {
    font-size: 28px;
    font-weight: bold;
    padding: 5px 0;
}

/* Styles city search text field */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles and sizes search button*/
.sidebar button {
    font-size: 18px;
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Creates line between search field and search history*/
hr {
    margin: 20px 0;
    border: 1px solid #ccc;
}

/* Styles the box that holds the display information for selected city */
.weather-box {
    flex: 1;
    padding: 20px;
}

.current-weather {
    padding: 20px;
    border: 1px solid #ccc;
}

/* Styles the box that holds the text fields for current info */
.weather-details {
    margin-top: 20px;
}

/* Styles the textboxs the display current info */
.weather-details p{
    padding: 5px 0;
}

/* Lowers the 5 day forcast from the rest of weather box content */
.weather-box h2:nth-child(2){
    padding-top: 65px;
}

/* Creates a flex box to display the 5 day forcast */
.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styling for the 5 day forcast boxes */
.forecast-box {
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background: #3498db;
}

/* Styling for text in forcast box */
.forecast-box>* {
    padding: 8px;
}

/* Styling for search history boxes */
#searchHistory li{
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
